{% extends 'base.html' %}

{% block title %}<title>Ticket_booking</title>{% endblock %}

{% block body %}
<h1 class="b">Airline Ticket Booking Portal </h1>
<h1 class="a"> </h1>


<h1>Enter The Transaction details</h1>


<div class="form">
<form name="form" enctype="multipart/form-data"  method="POST">
    {% csrf_token %}
    <div class="form-group" style = "max-width:408px;">
    <label for="usn"><h3>transaction id:</h3></label>
    <input id="usn" class="form-control form-control-lg" type = "text"  name = "trn_id" value="" />
    </div>
    <br>
    <div class="form-group" style = "max-width:408px;">
    <label for="bid"><h3>User id:</h3></label>
    <input id="bid" class="form-control form-control-lg" type = "text"   name = "User_id" value=""/>
    </div>
    <br>
    <div class="form-group" style = "max-width:408px;">
    <label for="issue"><h3>Airline id:</h3></label>
    <input id="issue" class="form-control form-control-lg" type = "text"   name = "Airline_id" value=""/>
    </div>
    <br>
    <div class="form-group" style = "max-width:408px;">
    <label for="due"><h3>Issue Date:</h3></label>
    <input id="due" class="form-control form-control-lg" type = "date"   name = "issue_date" value=""/>
    </div>
    <br>
    <div class="submit">
    <button class="btn btn-outline-success"  type="submit" name="button"><h2>Submit</h2></button>
    </div>

</form>
</div>

<h1 class="a"> </h1>
<h1>Active Transactions</h1>
<table  width=1200 bgcolor=#33cccc cellpadding="8"  >
    <tr  bgcolor="white" align="center">
        <th><h2>Transaction_Id</h2></th>
        <th><h2>User_id</h2></th>
        <th><h2>Airline_id</h2></th>
        <th><h2>Issue_date</h2></th>
    </tr>

    {% for obj in allvideos %}
    <tr class="tr" align="center"  >
        <td><h3>{{ obj.transaction_id }}</h3> <div class="n"></div> </td>
        <td><h3>{{ obj.User_id }}</h3></td>
        <td><h3>{{ obj.Airline_id }}</h3></td>
        <td><h3>{{ obj.issue_date}}</h3></td>
    </tr>

{% endfor %}
</table>


<h1 class="a"> </h1>


</body>
{% endblock %}